/* general */
body {
  padding: 0;
  background-color: #F3F3F3;
  font-family: 'Montserrat', sans-serif;
  color: #4A4A4A;
}

.step2{
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

/*UI General*/
.btnCustom{
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 15px 30px;
  border-radius: 9px;
}

.btn-success {
background: #00C973;
color: #fff;
border:none;
}

.btn-success:hover {
background: #09B36A;
}

/*navbar*/
.navbar {
background: #FFFFFF;
border: 1px solid #E6E6E6;
}

.navbar-brand{
font-family: 'Montserrat', sans-serif;
font-size: 24px;
color: #4A4A4A;
letter-spacing: 1px;
text-transform: uppercase;
}

/* typography */
h2 {
font-weight: 700;
font-family: 'Montserrat', sans-serif;
font-size: 34px;
letter-spacing: 1px;
line-height: 34px;
text-transform: uppercase;
}

.output p {
  font-weight: 400;
font-size: 14px;
letter-spacing: 0px;
line-height: 22px;
text-transform: none;
}

h6 {
    font-weight: 400;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
color: #4A4A4A;
letter-spacing: 0px;
line-height: 15px;
text-transform: none;
}

h4 {
font-weight: 700;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: #4A4A4A;
letter-spacing: 1px;
line-height: 34px;
text-transform: uppercase;
}

span.step {
  background: #4A4A4A;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.comprow{
  padding-bottom: 100px;
}

/*forms*/
.form-group {
  background: #FFFFFF;
  border-radius: 3px;
}

.customBox label {
font-weight: 700;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 12px;
color: #828181;
letter-spacing: 1px;
line-height: 15px;
padding-left: 16px;
padding-top: 10px;
}
.customBox input{
border: none;
box-shadow:none;
font-family: 'Montserrat', sans-serif;
font-size: 18px!important;
}

.form-control:focus {
    border:none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
}

.customBox .btn-default {
  height: 46px;
  padding-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: none;
  box-shadow:none;
}

.customBox select {
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: none;
  box-shadow:none;
  margin-left: 5px;
  width: 95%;
}

.customBox option {
  padding-left: 15px;
}

.customBox .btn-default:hover {
  background-color: #fff;
}

.customBox input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ECECEC;
}
.customBox input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ECECEC;
}
.customBox input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ECECEC;
}
.customBox input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ECECEC;
}

.panelFade label {
  text-transform: uppercase;
  margin-top: 20px;
}

.customBox label {
font-weight: 700;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 12px;
color: #828181;
letter-spacing: 1px;
line-height: 15px;
padding-left: 16px;
padding-top: 10px;
}

.customBox .input-group-addon {
  background-color: transparent;
  border: none;
}

.change{
  margin-top: 40px;
  color: #ccc;
}

/*comparison card*/
.thumbnail{
  position: relative;
  overflow: hidden;
  height: 330px;
}

.thumbnailItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.editorsLabel{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
}

.cardDesc {
  text-align: center;
}

.cardDesc .numberItems {
font-weight: 700;
font-size: 24px;
line-height: 29px;
}

.infoItems::first-letter {
  text-transform: uppercase;
}

.thumbnailAdd{
  display: flex;
  align-items: center;
  justify-content:center;
  border:2px #E0E0E0 dashed;
  background-color: transparent;
}

.thumbnailAdd .btn-default {
background: #D8D8D8;
border-radius: 22px;
height: 82px;
width: 82px;
border:none;
}

.thumbnailAdd .btn-default:hover {
background: #B7B7B7;
border-radius: 22px;
height: 82px;
width: 82px;
border:none;
}

.thumbnailAdd p {
font-family: 'Montserrat', sans-serif;
font-size: 12px;
color: #9B9B9B;
letter-spacing: 1px;
line-height: 15px;
text-transform: uppercase;
padding-top: 20px;
}

.thumbnailAdd .caption{
  text-align: center;
}

.caption .checkbox{
  margin: 0px;
}

.caption.cardDesc{
  margin-left: -4px;
  margin-right: -4px;
  border-top: 1px #E0E0E0 solid;
}

.thumbnailSelected{
  border-color: #00C973;
}

.caption.cardDesc.thumbnailSelected{
  border-top: 1px #00C973 solid;
}

.captionHover {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    opacity: 0;
    text-align:center;
    color:#fff !important;
    z-index:2;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content:center;
}

.captionHover {

}

.thumbnail:hover .captionHover {
    opacity: 1;
}

.thumbnail .checkbox{
  z-index: 2;
}

.captionDetails {
    position:absolute;
    top:0;
    right:0;
    background: #4A4A4A;
    width:100%;
    height:100%;
    color:#fff !important;
    z-index:3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closeDetails{
  position: absolute;
  right: 10px;
  top:12px;
}

.captionDetails label{
font-weight: 700;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 12px;
color: #828181;
letter-spacing: 1px;
line-height: 15px;
}


.removeComparison{
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.svgIconContainer{
  height: 180px;
  width:100%;
  padding: 10px;
}

/* bottom line */

.bottomLine{
  position: fixed;
  bottom: 0px;
  background: #fff;
  z-index: 3;
  transition: bottom 0.2s;
  width: 100%;
  transform: translate(0,100%);
  transition: transform 0.2s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottomLine p{
  padding-top: 15px;
}

.bottomLineShow{
  transform: translate(0,0);
}

/* add comparison form */

.dropArea{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer{
  text-align: left;
}

/* output */
.big-number-output {
  border-bottom: 1px solid #E8E8E8;
  padding-left: 20px;
}

.big-number-output p{
font-size: 20px;
color: #4A4A4A;
line-height: 27px;
}

.outputIconBox{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-content: flex-start;
}

.icon-small{
  width: 50px;
  height: 50px;
}

.icon-medium{
  width: 100px;
  height: 100px;
}

.icon-large{
  width: 150px;
  height: 150px;
}

.output {
border: 1px solid #E8E8E8;
}

.output ul {
  padding-right: 0;
}

.output li {
  padding-left: 20px;
}

.output.light{
  background-color: #fff;
  color: #4A4A4A;
}

.output.light svg *{
  fill: #4A4A4A;
}

.output.dark{
  background-color: #4A4A4A;
  color: #fff;
}

.output.dark p,
.output.dark h2,
.output.dark h6
{
  color: #fff;
}

.output.dark svg *{
  fill: #fff;
}

.output .costLike{
  background-color: #4A4A4A;
  margin-bottom: 0;
  cursor: default;
}

.output .costLike p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  color: #fff;
}

.output .costLikeCol{
  background-color: #4A4A4A;
  margin-bottom: 0;
  cursor: default;
}

.output .costLikeCol p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  color: #fff;
  padding-left: 20px;
}

.output .nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
    min-height: 120px;
    padding-top: 10px;
}

.output .tab-content{
  border-left:1px solid #E8E8E8;
}

.output .tabList li{
  border-bottom: 1px solid #E8E8E8;
}
.output .tabList li {
  cursor: pointer;
  color:#BAB9BA

}

.output .tabList li.active{
color:#4A4A4A;
}

.output .tabList p::first-letter {
  text-transform: uppercase;
}

.output .columnsInner {
  padding-left: 20px;
}

.output .columnsInner p::first-letter{
  text-transform: uppercase;
}

.output .columns {
  border-right:1px solid #E8E8E8;
}

.output .columns h6{
  padding-left: 20px;
}

.output .tabList h3{
  margin-top: 0;
}


#output.moop{
  font-family: 'Open Sans', serif;
}

#output.moop h2, #output.moop h6{
  font-family: 'Montserrat', sans-serif;
}


#output.tica{
  font-family: Georgia, serif;
}

#output.tica h2, #output.tica h6{
  font-family: Arial, sans-serif;
}



/* checkbox round */

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"]{
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after{
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label{
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before{
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before{
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after{
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before{
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after{
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before{
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after{
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before{
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after{
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before{
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after{
  color: #fff;
}

input[type="checkbox"].styled:checked + label:after{
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before{
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after{
  color: #fff;
}
