<div class="modal-header">
    <h3 class="modal-title">Choose an icon</h3>
</div>
<div class="modal-body">
  <div class="row" style="min-height:300px;">
    <div class="col-md-6">
      un set di icone!
    </div>
    <div class="col-md-6">
      <div
        ngf-select="upload($files)"
        ngf-drop="dropAvailable"
        ng-model-rejected="rejFiles"
        ngf-multiple="false"
        ngf-accept="'.svg'"
        ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
        ngf-allow-dir="allowDir"
        ngf-drop-available="dropAvailable"
        name="drop"
        class="dropArea"
       >
        <div class="svgIconContainer" svg-icon-preview></div>
        <button type="button" class="btn btn-success" ng-show="!comparison.icon">Upload icon (.svg)</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK continua</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
