<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Lira</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul> -->
      </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><span class="step">1</span> insert the number</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>big number</label>
        <input
          type="number"
          placeholder="the big number"
          class="form-control"
          name="bignumber"
          ng-model="bignumber"
          min="1"
          required
        >
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>unit</label>
        <ui-select ng-model="selUnit.selected" required>
          <ui-select-match placeholder="Select">
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (units | filter: $select.search) track by item">
            <span ng-bind="item"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>description</label>
          <input
            type="text"
            placeholder="enter a description"
            class="form-control description"
            name="description"
            ng-model="description"
            ng-minlength="3"
            required
          >
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4><span class="step">2</span> select a comparison</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <button type="submit" class="btn btn-default" ng-click="open()">
            <span class="glyphicon glyphicon-plus-sign">
          </button>
          <p>
            add a new comparison
          </p>
        </div>
      </div>
    </div>
    <!-- editor comparisons -->
    <div class="col-md-3" ng-repeat="editorpick in editorpicks | orderBy: '-id' track by editorpick.id">
      <div class="thumbnail">
        <div class="caption captionHover">
          <button type="button" class="btn btn-success" ng-click="editorpick.details = true">
            see details
          </button>
        </div>
        <div class="caption captionDetails" ng-show="editorpick.details" >
          <span class="pull-right glyphicon glyphicon-remove" ng-click="editorpick.details = false">
          </span>
          <label>item cost</label>
          <p>{{editorpick.objvalue | number}} {{selUnit.selected}}</p>
          <label>description</label>
          <p>{{editorpick.objDescription}}</p>
          <label>source</label>
          <p>{{editorpick.source}}</p>
          <label>icon credits</label>
          <p>{{editorpick.credits}}</p>
        </div>
        <div class="caption">
          <p>
            editors' pick
          </p>
          <p>
            <div class="checkbox checkbox-circle">
              <input
                type="checkbox"
                class="styled"
                ng-model="editorpick.isSelected"
                ng-change="modEditorpicks(editorpick.isSelected, editorpick.id)">
              <label></label>
            </div>
          </p>
        </div>
        <div class="svgIconContainer" comparison="editorpick" svg-icon></div>
        <div class="caption">
          <p>
            {{bignumber/editorpick.objvalue | number:0}}
          </p>
          <p>
            {{editorpick.objDescription}}
          </p>
        </div>
      </div>
    </div>
    <!-- user comparisons -->
    <div class="col-md-3" ng-repeat="comparison in comparisons | orderBy: '-id' track by comparison.id">
      <div class="thumbnail">
        <div class="caption captionHover">
          <button type="button" class="btn btn-success" ng-click="open(comparison)">
            edit
          </button>
          <span class="glyphicon glyphicon-trash" ng-click="removeComparison(comparison.id)"></span>
        </div>
        <div class="caption">
          <p>
            added by you
          </p>
          <p>
            <div class="checkbox checkbox-circle">
              <input
                type="checkbox"
                class="styled"
                ng-model="comparison.isSelected"
                ng-change="modComparisons(comparison.isSelected, comparison.id)">
              <label></label>
            </div>
          </p>
        </div>
        <div class="svgIconContainer" comparison="comparison" svg-icon></div>
        <div class="caption">
          <p>
            {{bignumber/comparison.objvalue | number:0}}
          </p>
          <p>
            {{comparison.objDescription}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottomLine" ng-show="selectedComparisons.length">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <p>
          {{selectedComparisons.length}} comparison(s) selected
        </p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-success">
          visualize and export
        </button>
      </div>
    </div>
  </div>
</div>
