<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Lira</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul> -->
      </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container" ng-show="viewModel == 'input'">
  <div class="row">
    <div class="col-md-12">
      <h4><span class="step">1</span> insert the number</h4>
    </div>
  </div>
  <form name="bignumberForm" novalidate>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>big number</label>
        <input
          type="number"
          placeholder="the big number"
          class="form-control"
          name="bignumber"
          ng-model="bignumber"
          min="1"
          required
        >
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>unit</label>
        <ui-select ng-model="selUnit.selected" required>
          <ui-select-match placeholder="Select">
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (units | filter: $select.search) track by item">
            <span ng-bind="item"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-6">
      <p ng-if="selUnit.selected!='USD'">
        on {{rates.timestamp*1000 | date}}, 1 USD was {{rates.rates[selUnit.selected]| number:2}} {{selUnit.selected}}
      </p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>description</label>
          <input
            type="text"
            placeholder="enter a description"
            class="form-control description"
            name="description"
            ng-model="description"
            ng-minlength="3"
            ng-maxlength="100"
            required
          >
        </div>
      </div>
  </div>
</form>
<div ng-show="bignumberForm.$valid">
  <div class="row">
    <div class="col-md-12">
      <h4><span class="step">2</span> select a comparison</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail thumbnailAdd">
        <div class="caption">
          <button type="submit" class="btn btn-default" ng-click="open()">
            <span class="glyphicon glyphicon-plus-sign">
          </button>
          <p>
            add a new comparison
          </p>
        </div>
      </div>
    </div>
    <!-- editor comparisons -->
    <div class="col-md-3" ng-repeat="editorpick in editorpicks | orderBy: '-id' track by editorpick.id">
      <div class="thumbnail thumbnailItem" ng-class="{'thumbnailSelected':editorpick.isSelected}">
        <div class="caption captionHover">
          <button type="button" class="btn btn-success" ng-click="editorpick.details = true">
            see details
          </button>
        </div>
        <div class="caption captionDetails" ng-show="editorpick.details" >
          <span class="closeDetails glyphicon glyphicon-remove" ng-click="editorpick.details = false">
          </span>
          <div>
            <label>item cost</label>
            <p>{{(editorpick.objvalue*rates.rates[selUnit.selected]) | number}} {{selUnit.selected}}</p>
          </div>
          <div>
            <label>description</label>
            <p>{{editorpick.objDescription}}</p>
          </div>
          <div>
            <label>source</label>
            <p>{{editorpick.source}}</p>
          </div>
          <div>
            <label>icon credits</label>
            <p>{{editorpick.credits}}</p>
          </div>
        </div>
        <div class="caption">
          <p>
            editors' pick
            <span class="checkbox checkbox-success checkbox-circle pull-right">
              <input
                type="checkbox"
                class="styled"
                ng-model="editorpick.isSelected"
                ng-change="modEditorpicks(editorpick.isSelected, editorpick.id)">
              <label></label>
            </span>
          </p>
        </div>
        <div class="svgIconContainer" comparison="editorpick" svg-icon></div>
        <div class="caption cardDesc" ng-class="{'thumbnailSelected':editorpick.isSelected}">
          <p>
            {{bignumber/(editorpick.objvalue*rates.rates[selUnit.selected]) | number:0}}
          </p>
          <p>
            {{editorpick.objDescription}}
          </p>
        </div>
      </div>
    </div>
    <!-- user comparisons -->
    <div class="col-md-3" ng-repeat="comparison in comparisons | orderBy: '-id' track by comparison.id">
      <div class="thumbnail thumbnailItem" ng-class="{'thumbnailSelected':comparison.isSelected}">
        <div class="caption captionHover">
          <button type="button" class="btn btn-success" ng-click="open(comparison)">
            edit
          </button>
          <button type="button" class="btn btn-default removeComparison" ng-click="removeComparison(comparison.id)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <div class="caption">
          <p>
            added by you
            <span class="checkbox checkbox-success checkbox-circle pull-right">
              <input
                type="checkbox"
                class="styled"
                ng-model="comparison.isSelected"
                ng-change="modComparisons(comparison.isSelected, comparison.id)">
              <label></label>
            </span>
          </p>
        </div>
        <div class="svgIconContainer" comparison="comparison" svg-icon></div>
        <div class="caption cardDesc" ng-class="{'thumbnailSelected':comparison.isSelected}">
          <p>
            {{bignumber/comparison.objvalue | number:0}}
          </p>
          <p>
            {{comparison.objDescription}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- output mode -->
<div class="container" ng-if="viewModel == 'output'">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>width</label>
        <input placeholder="box width" class="form-control" name="boxwidth" ng-model="boxwidth" min="1" required>
      </div>
      <div class="form-group">
        <label>height iframe</label>
        <input type="number" placeholder="height" class="form-control" name="iframeheight" ng-model="iframeheight" min="1" required>
      </div>
      <div class="form-group">
        <label>height icons box</label>
        <input type="number" placeholder="box height" class="form-control" name="boxheight" ng-model="boxheight" min="1" required>
      </div>
      <div class="form-group">
        <label>layout</label>
        <select class="form-control" ng-model="layout">
          <option ng-repeat="layout in layouts" value="{{layout}}">{{layout}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>fonts</label>
        <select class="form-control" ng-model="selectedFonts">
          <option ng-repeat="fontList in fontsList" value="{{fontList.slug}}">{{fontList.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>icon size</label>
        <select class="form-control" ng-model="iconSize">
          <option ng-repeat="iconsize in iconsSize">{{iconsize}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>style</label>
        <select class="form-control" ng-model="iconStyle">
          <option ng-repeat="iconstyle in iconsStyle">{{iconstyle}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-success" ng-click="publishGist()">
        embed
      </button>
      <p ng-show="savinggist" class="panelFade"> saving to Gist...</p>
      <div ng-show="gistId" class="panelFade">
        <label>copy embed code </label>
        <textarea readonly class="form-control" rows="8" ng-model="embedCode"></textarea>
      </div>
    </div>
    <div id="output"class="col-md-8" ng-class="{moop:'moop', tica:'tica'}[selectedFonts]">
      <div
        style="overflow-y:scroll;"
        ng-style="{'height': iframeheight+'px', 'width':boxwidth+'px'}"
        ng-class="{light:'light', dark:'dark'}[iconStyle]"
        class="output">
      <div class="big-number-output">
        <h2>{{bignumber}} {{selUnit.selected}}</h2>
        <p>{{description}}</p>
      </div>
      <div class="row" ng-if="layout == 'tabs'">
        <div class="col-md-12">
          <div vtabs></div>
        </div>
      </div>
      <!-- <tabset ng-if="layout == 'tabs'">
        <tab ng-repeat="comparison in comparisons.concat(editorpicks) | filter: {isSelected:true}" heading="{{'comparison ' + ($index+1)}}">
          <div>
            <h2>{{bignumber/comparison.objvalue | number:1}}</h2>
            <p>{{comparison.objDescription}}</p>
          </div>
          <div style="overflow-y:scroll;" ng-style="{'height': boxheight+'px'}">
            <div
              class="finalIcon"
              ng-class="{small:'icon-small', medium:'icon-medium', large:'icon-large'}[iconSize]"
              iconstyle="light"
              comparison="comparison"
              ng-repeat="i in getNumber(bignumber/comparison.objvalue) track by $index"
              svg-icon>
            </div>
          </div>
          <div>
            <h6>SOURCE: <a ng-href="{{comparison.source}}" target="_blank">{{comparison.source}}</a></h6>
            <h6>CREDITS: {{comparison.credits}}</h6>
          </div>
        </tab>
      </tabset> -->
      <div class="row">
        <div class="col-md-12" ng-if="layout == 'columns'">
          <p>
            costs like
          </p>
        </div>
      </div>
      <div class="row" ng-if="layout == 'columns'">
        <div
          ng-repeat="comparison in filtered = (comparisons.concat(editorpicks) | filter: {isSelected:true})"
          ng-class="'col-xs-'+(12/filtered.length)"
          >
          <div>
            <h2>{{bignumber/comparison.objvalue | number:0}}</h2>
            <p>{{comparison.objDescription}}</p>
          </div>
          <div buffered-scroll="increaseLimit()" class="outputIconBox" style="overflow-y:scroll;" ng-style="{'height': boxheight+'px'}">
            <div
              class="finalIcon"
              ng-class="{small:'icon-small', medium:'icon-medium', large:'icon-large'}[iconSize]"
              iconstyle="light"
              comparison="comparison"
              ng-repeat="i in getNumber(bignumber/comparison.objvalue) | limitTo: limit track by $index"
              svg-icon>
            </div>
          </div>
          <div>
            <h6>SOURCE: {{comparison.source}}</h6>
            <h6>CREDITS: {{comparison.credits}}</h6>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="bottomLine" ng-class="{'bottomLineShow':selectedComparisons.length}">
  <div class="container">
    <div class="row">
      <div class="col-md-3" ng-show="viewModel == 'output'">
        <button type="button" class="btn btn-success" ng-show="viewModel == 'output'" ng-click="viewModel = 'input'">
          back to edit
        </button>
      </div>
      <div class="col-md-3 col-md-offset-3" ng-show="viewModel == 'input'">
        <p>
          {{selectedComparisons.length}} comparison(s) selected
        </p>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-success" ng-show="viewModel == 'input'" ng-click="viewModel = 'output'">
          visualize and export
        </button>
      </div>
    </div>
  </div>
</div>
