<div class="container" ng-style="{'width': params.width+'px'}">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h2>{{config.bignumber}} {{config.selUnit}}</h2>
        <p>{{config.description}}</p>
      </div>
      <div>
        <h2>{{config.itemsNumber}}</h2>
        <p>{{config.objDescription}}</p>
      </div>
      <div style="overflow-y:scroll;" ng-style="{'height': params.boxheight+'px'}">
        <div class="finalIcon" iconstyle="light" ng-repeat="i in getNumber(config.itemsNumber) track by $index" svg-icon></div>
      </div>
      <div>
        <p>SOURCE: <a ng-href="{{config.source}}" target="_blank">{{config.source}}</a></p>
        <p>SOURCE: {{config.credits}}</p>
      </div>
    </div>
  </div>
</div>
