<!-- <div class="container" ng-style="{'width': params.width+'px'}">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h2>{{config.bignumber}} {{config.selUnit}}</h2>
        <p>{{config.description}}</p>
      </div>
      <div>
        <h2>{{config.itemsNumber}}</h2>
        <p>{{config.objDescription}}</p>
      </div>
      <div style="overflow-y:scroll;" ng-style="{'height': params.boxheight+'px'}">
        <div class="finalIcon" iconstyle="light" ng-repeat="i in getNumber(config.itemsNumber) track by $index" svg-icon></div>
      </div>
      <div>
        <p>SOURCE: <a ng-href="{{config.source}}" target="_blank">{{config.source}}</a></p>
        <p>SOURCE: {{config.credits}}</p>
      </div>
    </div>
  </div>
</div> -->

<div id="output" ng-class="{moop:'moop', tica:'tica', gipi:'gipi'}[params.fonts]">
  <div
    ng-class="{light:'light', dark:'dark'}[params.style]"
     ng-style="{'height': params.height+'px'}"
    class="output container-fluid">
  <div class="row">
  <div class="col-sm-12">

  <div class="big-number-output">
    <h2>{{config.bignumber}} {{config.selUnit}}</h2>
    <p>{{config.description}}</p>
  </div>
  <tabset ng-if="params.layout == 'tabs'">
    <tab ng-repeat="comparison in config.comparisons" heading="{{'comparison ' + ($index+1)}}">
      <div>
        <h2>{{comparison.itemsNumber | number:1}}</h2>
        <p>{{comparison.objDescription}}</p>
      </div>
      <div style="overflow-y:scroll;" ng-style="{'height': params.boxheight+'px'}">
        <div
          class="finalIcon"
          ng-class="{small:'icon-small', medium:'icon-medium', large:'icon-large'}[params.size]"
          iconstyle="light"
          comparison="comparison"
          ng-repeat="i in getNumber(comparison.itemsNumber) track by $index"
          svg-icon>
        </div>
      </div>
      <div>
        <h6>SOURCE: <a ng-href="{{comparison.source}}" target="_blank">{{comparison.source}}</a></h6>
        <h6>CREDITS: {{comparison.credits}}</h6>
      </div>
    </tab>
  </tabset>
  <div class="row" ng-if="params.layout == 'columns'">
    <div
      ng-repeat="comparison in config.comparisons"
      ng-class="'col-sm-'+(12/config.comparisons.length)"
      >
      <div>
        <h2>{{comparison.itemsNumber | number:1}}</h2>
        <p>{{comparison.objDescription}}</p>
      </div>
      <div style="overflow-y:scroll;" ng-style="{'height': params.boxheight+'px'}">
        <div
          class="finalIcon"
          ng-class="{small:'icon-small', medium:'icon-medium', large:'icon-large'}[params.size]"
          iconstyle="light"
          comparison="comparison"
          ng-repeat="i in getNumber(comparison.itemsNumber) track by $index"
          svg-icon>
        </div>
      </div>
      <div>
        <h6>SOURCE: <a ng-href="{{comparison.source}}" target="_blank">{{comparison.source}}</a></h6>
        <h6>CREDITS: {{comparison.credits}}</h6>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
