 <div class="jumbotron">
      <div class="container">
         <div class="row">
        <div class="col-md-8">
        <h1>Libra</h1>
        <p>An interactive portal to allow easy creation of comparisons for very large amounts of money.</p>
        <p><a class="btnCustom btn btn-success" href="#create" role="button">TRY IT NOW! &raquo;</a></p>
      </div>
      </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h4>How it works</h4>
          <iframe src="https://player.vimeo.com/video/151519578" width="100%" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      <hr>

      <footer>
        <p>A project by:</p>
      </footer>
    </div> <!-- /container -->
