<div class="viewMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="btn-group">
          <button class="btn btn-success" ng-model="viewModel" btn-radio="'input'">Input</button>
          <button class="btn btn-success" ng-class="{'disabled': outButtonDisabled}" ng-model="viewModel" btn-radio="'output'">Output</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container steps" ng-show="viewModel == 'input'">
  <div class="row">
    <div class="col-md-3">
      <h4><span class="step">1</span> insert the number</h4>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>big number</label>
            <input type="number" placeholder="the big number" class="form-control" name="input" ng-model="bignumber" min="1" required>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label>unit</label>
              <select class="form-control" ng-model="selUnit">
                <option ng-repeat="unit in units">{{unit}}</option>
              </select>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label>description</label>
              <input type="text" placeholder="enter a description" class="form-control description" name="description" ng-model="description" ng-minlength="3">
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h4><span class="step">2</span> select a comparison</h4>
    </div>
    <div class="col-md-9">
      <div id="addComparison">
        <button type="button" class="btn btn-success" ng-click="addComparison()">
          add comparison
        </button>
      </div>
      <div ng-show="showComparison" id="newComparison" class="panelFade">
        <div class="row rowComp">
          <div class="col-md-8">
        <div class="infoComp">
        <div class="row">
          <div class="col-md-10">
            <p>
              <span class="label label-default">added by you</span>
            </p>
          </div>
          <div class="col-md-2 panelFade" ng-show="showImage">
            <!-- <p class="pull-right">
              edit
            </p> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>item value</label>
              <input type="number" placeholder="add the value" class="form-control" name="input" ng-model="objvalue" min="1" max="{{bignumber}}" required>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>unit</label>
              <p>{{selUnit}}</p>
            </div>
          </div>
        </div>
        <div class="row panelFade" ng-show="showImage">
          <div class="col-md-4">
            <div class="form-group">
              <label>number of items</label>
              <p>{{bignumber/objvalue | number:1}}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>description</label>
              <input type="text" placeholder="enter a description" class="form-control" name="objDescription" ng-model="objDescription" ng-minlength="3">
            </div>
          </div>
        </div>
        <div class="row panelFade" ng-show="showImage">
          <div class="col-md-12 credits">
            <label>source</label>
            <input type="text" placeholder="enter a link source" class="form-control" name="source" ng-model="source" ng-minlength="3">
          </div>
        </div>
        <div class="row panelFade" ng-show="showImage">
          <div class="col-md-12 credits">
            <label>credits</label>
            <input type="text" placeholder="enter icon credits" class="form-control" name="credits" ng-model="credits" ng-minlength="3">
          </div>
        </div>
        </div>
        </div>
          <div class="col-md-4 panelFade colComp" ng-show="showImage">
              <div ngf-select=""
               ngf-drop="dropAvailable"
               ng-model="icon"
               ng-model-rejected="rejFiles"
               ngf-multiple="false"
               ngf-accept="'.svg,.jpg'"
               ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
               ngf-allow-dir="allowDir"
               class="iconDropArea"
               ngf-drop-available="dropAvailable">
                <div class="svgIconContainer" svg-icon></div>
                <button type="button" class="btn btn-success" span ng-show="showImageButton" style="position:absolute;top:50%;">Add icon (.svg)</button>
              </div>
          </div>
        </div>
        <div class="row" ng-hide="showImage">
          <div class="col-md-12 continue">
            <button type="button" class="btn btn-success" ng-click="addImage()">
              continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container steps" ng-show="viewModel == 'output'">
  <div class="row">
    <div class="col-md-4">
      <h4>option</h4>
      <div class="form-group">
        <label>width</label>
        <input type="number" placeholder="box width" class="form-control" name="boxwidth" ng-model="boxwidth" min="1" required>
      </div>
      <div class="form-group">
        <label>max height iframe</label>
        <input type="number" placeholder="max height" class="form-control" name="iframeheight" ng-model="iframeheight" min="1" required>
      </div>
      <div class="form-group">
        <label>max height icon box</label>
        <input type="number" placeholder="max box height" class="form-control" name="boxheight" ng-model="boxheight" min="1" required>
      </div>
      <button type="button" class="btn btn-success" ng-click="publishGist()">
        embed
      </button>
      <p ng-show="savinggist" class="panelFade"> saving to Gist...</p>
      <div ng-show="gistId" class="panelFade">
        <label>copy embed code </label>
        <textarea readonly class="form-control" rows="8" ng-model="embedCode"></textarea>
      </div>
    </div>
    <div class="col-md-8">
      <div style="overflow-y:scroll;" ng-style="{'height': iframeheight+'px', 'width':boxwidth+'px'}" class="output">
      <div class="big-number-output">
        <h2>{{bignumber}} {{selUnit}}</h2>
        <p>{{description}}</p>
      </div>
      <div>
        <h2>{{bignumber/objvalue | number:1}}</h2>
        <p>{{objDescription}}</p>
      </div>
      <div style="overflow-y:scroll;" ng-style="{'height': boxheight+'px'}">
        <div class="finalIcon" iconstyle="light" ng-repeat="i in getNumber(bignumber/objvalue) track by $index" svg-icon></div>
      </div>
      <div>
        <h6>SOURCE: <a ng-href="{{source}}" target="_blank">{{source}}</a></h6>
        <h6>CREDITS: {{credits}}</h6>
      </div>
    </div>
    </div>
  </div>
</div>
