<div class="container steps">
  <div class="row">
    <div class="col-md-4">
      <h4>insert the number</h4>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>big number</label>
            <input type="number" placeholder="the big number" class="form-control" name="input" ng-model="bignumber" min="1" required>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label>unit</label>
              <select class="form-control" ng-model="selUnit">
                <option ng-repeat="unit in units">{{unit}}</option>
              </select>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label>description</label>
              <input type="text" placeholder="enter a description" class="form-control" name="description" ng-model="description" ng-minlength="3">
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>select a comparison</h4>
    </div>
    <div class="col-md-8">
      <div id="addComparison">
        <button type="button" class="btn btn-primary" ng-click="addComparison()">
          add comparison
        </button>
      </div>
      <div ng-show="showComparison" id="newComparison" class="panelFade">
        <div class="row rowComp">
          <div class="col-md-8">
        <div class="infoComp">
        <div class="row">
          <div class="col-md-10">
            <p>
              <span class="label label-default">added by you</span>
            </p>
          </div>
          <div class="col-md-2 panelFade" ng-show="showImage">
            <p class="pull-right">
              edit
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>item value</label>
              <input type="number" placeholder="add the value" class="form-control" name="input" ng-model="objvalue" min="1" max="{{bignumber}}" required>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>unit</label>
              <p>{{selUnit}}</p>
            </div>
          </div>
        </div>
        <div class="row panelFade" ng-show="showImage">
          <div class="col-md-4">
            <div class="form-group">
              <label>number of items</label>
              <p>{{bignumber/objvalue | number:1}}</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>description</label>
              <input type="text" placeholder="enter a description" class="form-control" name="objDescription" ng-model="objDescription" ng-minlength="3">
            </div>
          </div>
        </div>
        <div class="row panelFade" ng-show="showImage">
          <div class="col-md-12">
            <label>source</label>
            <input type="text" placeholder="enter a link source" class="form-control" name="source" ng-model="source" ng-minlength="3">
          </div>
        </div>
        </div>
        </div>
          <div class="col-md-4 panelFade colComp" ng-show="showImage">
              <div ngf-select=""
               ngf-drop="dropAvailable"
               ng-model="icon"
               ng-model-rejected="rejFiles"
               ngf-multiple="false"
               ngf-accept="'.svg,.jpg'"
               ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
               ngf-allow-dir="allowDir"
               class="iconDropArea"
               ngf-drop-available="dropAvailable">
                <div class="svgIconContainer" svg-icon></div>
                <span ng-show="showImageButton" style="position:absolute;top:50%;color:white;">Add icon (.svg)</span>

              </div>
          </div>
        </div>
        <div class="row" ng-hide="showImage">
          <div class="col-md-12 continue">
            <button type="button" class="btn btn-primary" ng-click="addImage()">
              continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
